<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Jinja Templating Engine</title>
        {% endblock %}
    </head>
    <body>
        <div class="mt-4 m-3">
            <h3><a href="/" style="color:black; text-decoration:none">Jinja Templating Engine</a></h3>
          </div>
          <hr class="mb-4 m-3"/>
        {% block content %}
        <!-- Your page content -->
        {% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>