#
# This is an example template
#

The value of "var1" is: {{ var1 }}

The value of "var2" is: {{ var2 }}

Please visit https://jinja.palletsprojects.com/ to learn more about the Jinja2 templating language.
