{% extends "base.html" %}
{% block content %}
<div class="w-75 m-3">
  <p>
  <h2>Jinja Templating Engine</h2>
  </p>
  <p>
  <h4>Available templates:</h4>
  <ul>
    {% for i in items %}
    <li>{{ i }} (<a href="/forms/{{ i }}">form generator</a> | <a href="/{{ template_folder }}/{{ i }}">raw text</a>)</li>
    {% endfor %}
  </ul>
  </p>
  <p>
  <h4>Usage:</h4>
  Send a POST request to /templates/&lttemplate-name&gt with the variables encoded as JSON inside the body of the request.
  <br>The response will contain the rendered template inside the "result" key.
  </p>
</div>
{% endblock %}