<html>
<body>
<div>
<h2>Templating Engine API</h2>
</div>
<div>
<h3>Available Jinja2 templates:</h3>
  <ul>
    {% for i in items %}
    <li>{{ i }} (<a href="/forms/{{ i }}">form generator</a> | <a href="/{{ template_folder }}/{{ i }}">raw text</a>)</li>
    {% endfor %}
  <ul>
</div>
<div>
<h3>Usage:</h3>
<p>Send a POST request to /templates/&lttemplate-name&gt with the variables to be rendered encoded as JSON inside the body of the request.</p>
<p>You will receive back the rendered template inside a JSON object under the "result" key.</p>
</div>
</body>
</html>