{% extends "base.html" %}
{% block content %}
<div class="mt-4 m-3">
    <h5>Upload a new template</h5>
</div>
<div class="mb-4 m-3">
    Select a valid Jinja2 template file to upload to the templates folder.<br>
    The file must have the .j2 extension.
</div>
<div class="m-3">
    <form action = "/upload" method = "POST" 
        enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <br>
        <br>
        <input type = "submit"/>
    </form>
</div>
{% endblock %}